{% extends 'base.html' %}

{% block title %}
    {{ get_article.title }}
{% endblock title %}

{% block content %}

    <div>

        <div class="post-container">
            <div class="post">
                <div class="alert alert-secondary">
                    <h3> {{ get_article.title }} </h3>
                    <h4 style="text-align: right;"> {{ get_article.author }}</h4>
                </div>
                <div class="content-post">
                    {% if get_article.your_file %}
                        <a id="myImg" data-binding="{{ get_article.id }}" class="mini-img open-popup">
                            <img src="{{ get_article.your_file.url }}" class="border-img" alt="File" width="70">
                        </a>
                    {% endif %}
                    <p class="text-post"> {{ get_article.text }} </p>
                </div>

                <button id="myButton" data-binding="{{ get_article.id }}" class="btn btn-secondary open-popup">
                    Коментировать
                </button>
                <a href="{% url 'home' %}">
                    <button class="btn btn-secondary">Назад</button>
                </a>
                <p> Коментариев: {{ get_article.comments_articles.all.count }}</p>
            </div>
            <div class="all-comments">
                <div class="sort-comments">
                    <a href="?sort_order=newest" class="btn btn-secondary">Сначала новые</a>
                    <a href="?sort_order=oldest" class="btn btn-secondary">Сначала старые</a>
                    <a href="?sort_order=authorA" class="btn btn-secondary">По автору (A-Z)</a>
                    <a href="?sort_order=authorZ" class="btn btn-secondary">По автору (Z-A)</a>
                    <a href="?sort_order=emailA" class="btn btn-secondary">По email (A-Z)</a>
                    <a href="?sort_order=emailZ" class="btn btn-secondary">По email (Z-A)</a>
                </div>

                <div>
                    {% for comm in comments %}
                        <div class="back-com">
                            <div id="{{ comm.id }}" class="comment-container">
                                <div class="header-comm">
                                    <img class="avatar" src="{{ comm.author.get_avatar_url }}" alt="Avatar" width="50">
                                    <h3 class="name-user"> {{ comm.author }} </h3>
                                    <p class="data-comm"> {{ comm.created_at|date:"d.m.y" }}
                                        в {{ comm.created_at|date:"H:i" }} </p>
                                    <div class="icon-container">
                                        <i class="fa-solid fa-hashtag icon"></i>
                                        <i class="fa-regular fa-bookmark icon"></i>
                                        <i class="fa-solid fa-code-branch icon"></i>
                                        <i class="fa-regular fa-circle-up icon"></i>
                                    </div>
                                    <p></p>
                                    <p>rating</p>
                                    <p></p>
                                </div>
                                <p class="comm-text"> {{ comm.text }} </p>
                                <button data-article-id="{{ get_article.id }}" class="btn btn-secondary open-reply-popup">
                                    Ответить
                                </button>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>






    <div id="replyPopup" class="popup">
        <div class="popup-content">
            <div class="form-create-post">
                <h3> Комментарий </h3>
                <div>
                    <form id="replyForm" method="post">
                        {% csrf_token %}
                        {{ form }}
                    </form>
                </div>
                <button class="btn btn-secondary" form="replyForm" type="submit">Добавить</button>

            </div>
            <br>
            <button id="closeReplyPopup" class="btn btn-secondary">Закрыть</button>
        </div>
    </div>

    <div id="myPopup" class="popup">
        <div class="popup-content">
            <div class="form-create-post">
                <h3> Комментарий </h3>
                <div>
                    <form id="add_form" method="post">
                        {% csrf_token %}
                        {{ form }}
                    </form>
                </div>
                <button class="btn btn-secondary" form="add_form" type="submit">Добавить</button>

            </div>
            <br>
            <button id="closePopup" class="btn btn-secondary">Закрыть</button>
        </div>
    </div>

    <div id="myImgPopup" class="popup">
        <div class="popup-content">
            <div>
                {% if get_article.your_file %}
                    <img src="{{ get_article.your_file.url }}" class="img-thumbnail" alt="File" width="320">
                {% endif %}
            </div>
            <br>
            <button id="closeImgPopup" class="btn btn-secondary">Закрыть</button>
        </div>
    </div>




    <div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">{{ comments.number }} of {{ comments.paginator.num_pages }}.</span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">next</a>
            <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock content %}