

{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock title %}

{% block content %}




    <div>
        {% if list_articles %}
            {% for el in list_articles %}
                <div>
                    <div id="{{ el.id }}" class="post">
                        <div class="alert alert-secondary">
                            <h3> {{ el.title }} </h3>
                            <h4 style="text-align: right;"> {{ el.author }}</h4>
                        </div>

                        <p class="text-post"> {{ el.text }} </p>

                        <a href="/detail/{{ el.id }}">
                            <button class="btn btn-secondary">Перейти к статье</button>
                        </a>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-secondary">
                <h3> Нет новостей </h3>
            </div>
        {% endif %}
    </div>



    {#    <div>#}
    {##}
    {#        {% for el in data.post %}#}
    {#            <div id="{{ el.id }}" class="post">#}
    {#                <div class="alert alert-secondary">#}
    {#                    <h3> {{ el.title }} </h3>#}
    {#                </div>#}
    {#                <button data-binding="{{ el.id }}" class="btn btn-secondary open-popup"> Коментировать</button>#}
    {#            </div>#}
    {#            <div class="back-com">#}
    {#                {% for rv in data.commentary %}#}
    {#                    {% if rv.binding == el.id %}#}
    {#                        <div id="{{ rv.id }}" class="comment-container">#}
    {#                            {% if rv.binding_com != None %}#}
    {#                                {% for prv in data.commentary %}#}
    {#                                    {% if prv.id == rv.binding_com %}#}
    {#                                        <p class="back-com-par"> {{ prv.text }}</p>#}
    {#                                    {% endif %}#}
    {#                                {% endfor %}#}
    {#                            {% endif %}#}
    {#                            <p class="comm-text"> {{ rv.text }} </p>#}
    {#                            <button data-binding="{{ el.id }}" data-binding-com="{{ rv.id }}"#}
    {#                                    class="btn btn-secondary open-popup"> Ответить#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    {% endif %}#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}







    {#        <div>#}
    {#            <h2> Posts </h2>#}
    {#            {% verbatim %}#}
    {#            <div class="container" id="post_app">#}
    {##}
    {#                <div class="post" v-for="post in posts">#}
    {#                    <div class="alert alert-secondary">#}
    {#                        <h3> {{ post.title }} </h3>#}
    {#                        <h4 style="text-align: right;"> {{ post.author_username }}</h4>#}
    {#                    </div>#}
    {#                    <p class="text-post"> {{ post.text }} </p>#}
    {#                </div>#}
    {##}
    {#            </div>#}
    {#            {% endverbatim %}#}
    {#            <h2> Commentaries </h2>#}
    {##}
    {##}
    {#            {% verbatim %}#}
    {#            <div class="container" id="comm_app">#}
    {#                <div v-for="commentary in commentaries">#}
    {#                    <p>{{ commentary.id }}</p>#}
    {#                    <p>{{ commentary.id_list }}</p>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% endverbatim %}#}
    {#        </div>#}


    <div id="myPopup" class="popup">
        <div class="popup-content">
            <div class="form-create-post">
                <h3> Комментарий </h3>
                <form method="post">
                    {% csrf_token %}
                    {{ data.fdata.form.binding }}
                    {{ data.fdata.form.binding_com }}
                    {{ data.fdata.form.captcha }}<br>
                    {{ data.fdata.form.text }}<br>
                    <span>{{ error }}</span>
                    <button class="btn btn-secondary" id='submitComit' type="submit">Оставить комментарий</button>
                </form>
            </div>
            <br>
            <button id="closePopup" class="btn btn-secondary">Закрыть</button>
        </div>
    </div>








{% endblock content %}