{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
    <p> Страница регистрации </p>




    <div class="post-container">
        <div id="{{ get_article.id }}" class="post">
            <div>
                <form id="update_article" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
            <br>
            <button class="btn btn-secondary" form="update_article" type="submit">Зарегистрироваться</button>
            <a href="{% url 'home' %}">
                <button class="btn btn-secondary">Назад</button>
            </a>
        </div>
    </div>


{% endblock content %}